# Sourced by display managers (SDDM, GDM, etc.) before the X session starts.
# Use this to set environment variables that should be available to i3 and all
# child processes, since ~/.bashrc and ~/.zshrc are not sourced in this context.

#       __                 
#      /__\ ____   __      
#     /_\| '_ \ \ / /      
#    //__| | | \ V /       
#    \__/|_| |_|\_/        
#                          
#                          
#     /\   /\__ _ _ __ ___ 
#     \ \ / / _` | '__/ __|
#      \ V / (_| | |  \__ \
#       \_/ \__,_|_|  |___/
# 

#XDG Vars
export XDG_CONFIG_HOME="$HOME"/.config
export XDG_DATA_HOME="$HOME"/.local/share
export XDG_CACHE_HOME="$HOME"/.local/cache
export XDG_STATE_HOME="$HOME"/.local/state
export XDG_RUNTIME_DIR="${XDG_RUNTIME_DIR:=/tmp}"

# Network Vars (shorthand IP addr not handled by DNS)
export fangprod=104.237.144.235

# Other vars
export DEV_HOME="$HOME"/source/repos

# Path
export PATH="$HOME/.local/bin:$PATH"
